---
import { HeroSlider1 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
import WhatsAppButton from "../components/WhatsAppButton.astro";
import ContactForm from "../components/ContactForm.astro";
---

<Layout
  title="Dalopeza | Contactar - Webdevloper & Designer"
  description="WEBDEVELOPER Y DESIGNER - FREELANCETION"
>
  <main class="page-content">
    <Hero
      heroType="ParallaxImage"
      client:load
      data={{
        image: HeroSlider1.src,
        content: {
          title: "Contactar",
          paragraph:
            "¿Tienes problemas o necesitas ayuda? ¡Contáctanos y te ayudaremos!",
        },
      }}
    />
    <div class="max-w-7xl mx-auto px-4 py-12 space-y-12">
      <!-- Módulo actual con los recuadros de datos (teléfono, email, dirección) -->
      <ContactModule client:load /> 
      
      <!-- 2. Insertas el formulario abajo de los datos de contacto -->
      <ContactForm /> 
    </div>
    
    <WhatsAppButton />
  </main>
  <Footer />
</Layout>
