---
import { HeroSlider1, HeroSlider2, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
import WhatsAppButton from "../components/WhatsAppButton.astro";
---

<Layout
  title="Dalopeza | Webdeveloper & Designer"
  description="Soy desarrollador web y diseñador gráfico, con 10 años de experiencia mi trabajo es conceptual basado en el logo, slogan y colores de su marca."
>
  <main class="page-content">
    <Hero
      client:load
      heroType="fullPageSlider"
      data={[
        {
          subtitle: "Webdeveloper & Designer",
          title: "Dalo",
          background: HeroSlider1.src,
          paragraph:
            "Soy desarrollador web y diseñador gráfico con más de 12 años de experiencia creando soluciones digitales a medida. Mi enfoque combina creatividad y funcionalidad, desarrollando cada proyecto a partir del logo, eslogan y paleta de colores de tu marca. Trabajo con tecnologías como HTML5, CSS, JavaScript, jQuery, PHP, MySQL, React, Node.js, Nuxt, MongoDB, Flutter y más. Uso herramientas de diseño profesional como la suite de Adobe, y plataformas modernas como CMS, e-commerce, Vercel y Docker. Transformo ideas en experiencias visuales y funcionales.",
          button: {
            text: "Portafolio",
            link: "/portafolio",
          },
        },
        {
          subtitle: "Front-end / Back-end",
          title: "Soluciones",
          background: HeroSlider3.src,
          paragraph: "",
          button: {
            text: "Echa un vistazo",
            link: "/infinite",
          },
        },
        {
          subtitle: "Ux / Ui",
          title: "Designer",
          background: HeroSlider2.src,
          paragraph:
            "Desde 2007 resuelvo los problemas comerciales de los clientes a través del diseño. Armaré un equipo para tu proyecto, presupuesto y plazos. Ven por una interfaz, sitio web, presentación, vídeo o identidad.",
          button: {
            text: "Get pro version",
            link: "/",
          },
        },
      ]}
    />
    <WhatsAppButton />
  </main>
</Layout>
